body {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
}
.nombre_ap{
    color: rgb(255, 255, 255);
}
.tag{
    color: gray;
    font-size: 0.7em;
    vertical-align: middle;
}
ul {
    list-style:none;
}
.secciones{
    color: rgb(255, 255, 255);
    padding: 0;
    display: flex;
    gap: 20px;
}